<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Create Farmers_Login
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <swiper-container #signupSlider pager navigation="true" pagination="true" pagination-clickable="true">
    <swiper-slide>
      
      <ion-list lines="none">
        <form [formGroup]="ionicForm">

    
          <ion-item>
            <ion-label position="floating">Farmer Tally Code</ion-label >
            <ion-input formControlName="farmer_Tally_Code" type="text" aria-label="Farmer Tally Code"></ion-input >
          </ion-item >
          
         <ion-item>
            <ion-select placeholder="Select Login">
                <ion-select-option *ngFor="let p of Login_Id_data" [value]="p.Id">{{p.Login}}</ion-select-option>
            </ion-select>
  </ion-item>

          <ion-item>
            <ion-label position="floating">Login Mobile</ion-label >
            <ion-input formControlName="login_Mobile" type="text" aria-label="Login Mobile"></ion-input >
          </ion-item >
          
          <ion-item>
            <ion-label position="floating">Login Password</ion-label >
            <ion-input formControlName="login_Password" type="text" aria-label="Login Password"></ion-input >
          </ion-item >
          
          <ion-item>
            <!-- <ion-label position="floating">Creation Date</ion-label> -->
            <c-date formControlName="creation_Date" formLabel="Creation Date" datetime="datetime"  datetime="creation_Date"></c-date>
          </ion-item >
          
          <ion-item>
            <ion-label position="floating">IsActive</ion-label >
            <ion-toggle color="primary" formControlName="isActive" type="text" aria-label="IsActive"></ion-toggle>
          </ion-item >
          

   	<ion-item>
          <ion-button type="submit" color="primary" expand="block" (click)="submitForm()">Save</ion-button>
            <ion-button type="ion-button" color="danger" expand="block" (click)="cancelForm()">Cancel</ion-button>
        </ion-item>
    </form>
      </ion-list>
    </swiper-slide>
  </swiper-container>
</ion-content>

  