<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <b>
      <span *ngIf="formMode==='Edit'">Edit</span>
      <span> Broadcast_Message Details </span>
      </b>
    </ion-title>
    <ion-buttons *ngIf="formMode==='View'" collapse="true" slot="end">
      <ion-button (click)="editForm()">
        <ion-icon slot="icon-only" name="pencil"></ion-icon>
      </ion-button>
      <ion-button [routerLink]="'/farm/add-broadcast_message'">
        <ion-icon slot="icon-only" name="add-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>

  <swiper-container #signupSlider pager navigation="true" pagination="true" pagination-clickable="true">
    <swiper-slide>
      
      <ion-list lines="none">
        <form [formGroup]="ionicForm">

    
          <ion-item>
            <ion-label position="floating">Message Text</ion-label >
            <ion-textarea  formControlName="message_Text" type="text" aria-label="Message Text"></ion-textarea  >
          </ion-item >
          
         <ion-item>
            <ion-select placeholder="Select Employee">
                <ion-select-option *ngFor="let p of Employee_Id_data" [value]="p.Id">{{p.First_Name}}</ion-select-option>
            </ion-select>
  </ion-item>

         <ion-item>
            <ion-select placeholder="Select Farmer">
                <ion-select-option *ngFor="let p of Farmer_id_data" [value]="p.Id">{{p.First_Name}}</ion-select-option>
            </ion-select>
  </ion-item>

         <ion-item>
            <ion-select placeholder="Select Supervisor">
                <ion-select-option *ngFor="let p of Farmer_Supervisor_Id_data" [value]="p.Id">{{p.First_Name}}</ion-select-option>
            </ion-select>
  </ion-item>

          <ion-item>
            <!-- <ion-label position="floating">Message Sent Date</ion-label> -->
            <c-date formControlName="message_Sent_Date" formLabel="Message Sent Date" datetime="datetime"  datetime="message_Sent_Date"></c-date>
          </ion-item >
          
          <ion-item>
            <ion-label position="floating">IsActive</ion-label >
            <ion-toggle color="primary" formControlName="isActive" type="text" aria-label="IsActive"></ion-toggle>
          </ion-item >
          

       <ion-item *ngIf="formMode==='Edit'">
            <ion-button type="submit" color="primary" expand="block" (click)="submitForm()">Save</ion-button>
            <ion-button type="ion-button" color="danger" expand="block" (click)="cancelForm()">Cancel</ion-button>
          </ion-item>
  

    </form>
      </ion-list>
    </swiper-slide>
  </swiper-container>
</ion-content>

  