<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      PlantationIdentification
    </ion-title>
    <ion-buttons collapse="true" slot="end">
      <ion-button [routerLink]="'/farm/plantationidentification-details'">
        <ion-icon slot="icon-only" name="add-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <ion-header collapse="condense" class="ion-no-border">
    <ion-toolbar>
      <ion-title size="large">PlantationIdentification</ion-title>
      <ion-buttons collapse="true" slot="end">
        <ion-button color="primary" [routerLink]="'/farm/plantationidentification-details/'">
          <ion-icon slot="icon-only" name="add-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-list>
    <ion-toolbar>
      <ion-grid>
        <app-search (search)="searchPlantationIdentification($event)"></app-search>
        </ion-grid>
    </ion-toolbar>
  </ion-list>
  <ion-list>
    <ion-item>
      <ion-label> Id </ion-label>
	  <ion-label> Farmer_Code </ion-label>
	  <ion-label> First_Name </ion-label>
	  <ion-label> Last_Name </ion-label>
	  <ion-label> Father_Name </ion-label>
	  <ion-label> Gender </ion-label>
	  <ion-label> Category </ion-label>
	  <ion-label> Farm_Code </ion-label>
	  <ion-label> Village_Code </ion-label>
	  <ion-label> Mandal_Code </ion-label>
	  <ion-label> Longitude </ion-label>
	  <ion-label> Latitude </ion-label>
	  <ion-label> No_Of_Kms </ion-label>
	  <ion-label> Transport_Amt_Per_Ton </ion-label>
	  <ion-label> Survey_No </ion-label>
	  <ion-label> Mobile_Number1 </ion-label>
	  <ion-label> Mobile_Number2 </ion-label>
	  <ion-label> Lease_Code </ion-label>
	  <ion-label> Farmer_Photo_Id </ion-label>
	  <ion-label> Year </ion-label>
	  <ion-label> Family_Code </ion-label>
	  <ion-label> Scheme </ion-label>
	  <ion-label> Area_Type </ion-label>
	  <ion-label> Water_Source </ion-label>
	  <ion-label> Variety </ion-label>
	  <ion-label> Plantation_Date </ion-label>
	  <ion-label> Invoice_Date </ion-label>
	  <ion-label> Hectors </ion-label>
	  <ion-label> No_Of_Plants </ion-label>
	  <ion-label> Total_Cost_Of_Plants </ion-label>
	  <ion-label> Subsidy_Allowed </ion-label>
	  <ion-label> Farmer_Share </ion-label>
	  <ion-label> Present_Survival_Hect </ion-label>
	  <ion-label> Present_Survival_Plants </ion-label>
	  <ion-label> Bank_Name </ion-label>
	  <ion-label> Branch </ion-label>
	  <ion-label> Account_No </ion-label>
	  <ion-label> IFSC_Code </ion-label>
	  <ion-label> Aadhar_No </ion-label>
	  <ion-label> Email </ion-label>
	  <ion-label> Supervisor_Id </ion-label>
	  <ion-label> Tally_FarmerCode </ion-label>
	  <ion-label> Land_Photo_Id </ion-label>
	  <ion-label> IsActive </ion-label>
	  
    </ion-item>
    <ion-item *ngFor="let PlantationIdentification of plantationidentificationList" [routerLink]="'/farm/PlantationIdentificationDetails/' + PlantationIdentification.Id">
      <ion-label>{{ PlantationIdentification['Id'] }}</ion-label>
	  <ion-label>{{ PlantationIdentification['Farmer_Code'] }}</ion-label>
	  <ion-label>{{ PlantationIdentification['First_Name'] }}</ion-label>
	  <ion-label>{{ PlantationIdentification['Last_Name'] }}</ion-label>
	  <ion-label>{{ PlantationIdentification['Father_Name'] }}</ion-label>
	  <ion-label>{{ PlantationIdentification['Gender'] }}</ion-label>
	  <ion-label>{{ PlantationIdentification['Category'] }}</ion-label>
	  <ion-label>{{ PlantationIdentification['Farm_Code'] }}</ion-label>
	  <ion-label>{{ PlantationIdentification['Village_Code'] }}</ion-label>
	  <ion-label>{{ PlantationIdentification['Mandal_Code'] }}</ion-label>
	  <ion-label>{{ PlantationIdentification['Longitude'] }}</ion-label>
	  <ion-label>{{ PlantationIdentification['Latitude'] }}</ion-label>
	  <ion-label>{{ PlantationIdentification['No_Of_Kms'] }}</ion-label>
	  <ion-label>{{ PlantationIdentification['Transport_Amt_Per_Ton'] }}</ion-label>
	  <ion-label>{{ PlantationIdentification['Survey_No'] }}</ion-label>
	  <ion-label>{{ PlantationIdentification['Mobile_Number1'] }}</ion-label>
	  <ion-label>{{ PlantationIdentification['Mobile_Number2'] }}</ion-label>
	  <ion-label>{{ PlantationIdentification['Lease_Code'] }}</ion-label>
	  <ion-label>{{ PlantationIdentification['Farmer_Photo_Id'] }}</ion-label>
	  <ion-label>{{ PlantationIdentification['Year'] }}</ion-label>
	  <ion-label>{{ PlantationIdentification['Family_Code'] }}</ion-label>
	  <ion-label>{{ PlantationIdentification['Scheme'] }}</ion-label>
	  <ion-label>{{ PlantationIdentification['Area_Type'] }}</ion-label>
	  <ion-label>{{ PlantationIdentification['Water_Source'] }}</ion-label>
	  <ion-label>{{ PlantationIdentification['Variety'] }}</ion-label>
	  <ion-label>{{ PlantationIdentification['Plantation_Date'] }}</ion-label>
	  <ion-label>{{ PlantationIdentification['Invoice_Date'] }}</ion-label>
	  <ion-label>{{ PlantationIdentification['Hectors'] }}</ion-label>
	  <ion-label>{{ PlantationIdentification['No_Of_Plants'] }}</ion-label>
	  <ion-label>{{ PlantationIdentification['Total_Cost_Of_Plants'] }}</ion-label>
	  <ion-label>{{ PlantationIdentification['Subsidy_Allowed'] }}</ion-label>
	  <ion-label>{{ PlantationIdentification['Farmer_Share'] }}</ion-label>
	  <ion-label>{{ PlantationIdentification['Present_Survival_Hect'] }}</ion-label>
	  <ion-label>{{ PlantationIdentification['Present_Survival_Plants'] }}</ion-label>
	  <ion-label>{{ PlantationIdentification['Bank_Name'] }}</ion-label>
	  <ion-label>{{ PlantationIdentification['Branch'] }}</ion-label>
	  <ion-label>{{ PlantationIdentification['Account_No'] }}</ion-label>
	  <ion-label>{{ PlantationIdentification['IFSC_Code'] }}</ion-label>
	  <ion-label>{{ PlantationIdentification['Aadhar_No'] }}</ion-label>
	  <ion-label>{{ PlantationIdentification['Email'] }}</ion-label>
	  <ion-label>{{ PlantationIdentification['Supervisor_Id'] }}</ion-label>
	  <ion-label>{{ PlantationIdentification['Tally_FarmerCode'] }}</ion-label>
	  <ion-label>{{ PlantationIdentification['Land_Photo_Id'] }}</ion-label>
	  <ion-label>{{ PlantationIdentification['IsActive'] }}</ion-label>
	  
      <ion-icon name="eye-outline" aria-hidden="true"></ion-icon>
      <ion-icon name="create-outline" aria-hidden="true"></ion-icon>
      <ion-icon name="trash-outline" aria-hidden="true"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
  