<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Settings
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  Zoom 

  <ion-range class="zoom-range"
  aria-label="Custom range"
  [min]="50"
  [max]="300"
  [value]=zoom
  [pin]="true"
  [ticks]="true"
  [snaps]="true"
  (ionChange)="onzoom($event)"
></ion-range>
  <!-- <ion-content><input [value]="zoom" (change)="onzoom($event)"> -->
  </ion-content>
