<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <b>
      <span *ngIf="formMode==='Edit'">Edit</span>
      <span> Nursary Batches Details </span>
      </b>
    </ion-title>
    <ion-buttons *ngIf="formMode==='View'" collapse="true" slot="end">
      <ion-button (click)="editForm()">
        <ion-icon slot="icon-only" name="pencil"></ion-icon>
      </ion-button>
      <ion-button [routerLink]="'/farm/add-nursary_batches'">
        <ion-icon slot="icon-only" name="add-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content  fullscreen="true">
<ion-loading class="custom-loading" trigger="open-loading" message="Loading..." 
  [isOpen]=isLoading></ion-loading>
  <swiper-container #signupSlider pager navigation="true" pagination="true" pagination-clickable="true">
    <swiper-slide>
      
      <ion-list lines="none">
        <form [formGroup]="ionicForm">

    
          <ion-item>
            <ion-label position="floating">Name</ion-label>
            <ion-input formControlName="name" type="text" aria-label="Name"></ion-input>
          </ion-item>
          
          <ion-item>
            <ion-label position="floating">Origin</ion-label>
            <ion-input formControlName="origin" type="text" aria-label="Origin"></ion-input>
          </ion-item>
          
          <ion-item>
            <ion-label position="floating">Batch Id Supplier</ion-label>
            <ion-input formControlName="batch_Id_Supplier" type="text" aria-label="Batch Id Supplier"></ion-input>
          </ion-item>
          
          <ion-item>
            <ion-label position="floating">Supplier Details</ion-label>
            <ion-input formControlName="supplier_Details" type="text" aria-label="Supplier Details"></ion-input>
          </ion-item>
          
         <ion-item>
            <ion-select placeholder="Select Located Nursary" formControlName="located_Nursery_Id" [disabled]="!isInEditMode">
                <ion-select-option *ngFor="let p of Located_Nursery_Id_data" [value]="p.id">{{p.name}}</ion-select-option>
            </ion-select>
  </ion-item>

          <ion-item>
            <ion-label position="floating">IsActive</ion-label>
            <ion-toggle color="primary" formControlName="isActive" type="text" aria-label="IsActive"></ion-toggle>
          </ion-item>
          

       <ion-item *ngIf="isInEditMode">
            <ion-button type="submit" color="primary" expand="block" (click)="submitForm()">Save</ion-button>
            <ion-button type="ion-button" color="danger" expand="block" (click)="cancelForm()">Cancel</ion-button>
          </ion-item>
  

    </form>
      </ion-list>
    </swiper-slide>
  </swiper-container>
</ion-content>

  