<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <b>
      <span *ngIf="isInEditMode">Edit</span>
      <span> PlantationIdentification Details </span>
      </b>
    </ion-title>
    <ion-buttons *ngIf="!isInEditMode" collapse="true" slot="end">
      <ion-button (click)="editForm()">
        <ion-icon slot="icon-only" name="pencil"></ion-icon>
      </ion-button>
      <ion-button [routerLink]="'/farm/add-plantationidentification'">
        <ion-icon slot="icon-only" name="add-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>

  <swiper-container #signupSlider pager navigation="true" pagination="true" pagination-clickable="true">
    <swiper-slide>
      
      <ion-list lines="none">
        <form [formGroup]="ionicForm">

          <ion-item>
            <ion-label position="floating">Farmer Code</ion-label >
            <ion-input formControlName="farmer_Code" type="text" aria-label="Farmer Code" [readonly]="!isInEditMode"></ion-input>
          </ion-item >
          
          <ion-item>
            <ion-label position="floating">First Name</ion-label >
            <ion-input formControlName="first_Name" type="text" aria-label="First Name" [readonly]="!isInEditMode"></ion-input>
          </ion-item >
          
          <ion-item>
            <ion-label position="floating">Last Name</ion-label >
            <ion-input formControlName="last_Name" type="text" aria-label="Last Name" [readonly]="!isInEditMode"></ion-input>
          </ion-item >
          
          <ion-item>
            <ion-label position="floating">Father Name</ion-label >
            <ion-input formControlName="father_Name" type="text" aria-label="Father Name" [readonly]="!isInEditMode"></ion-input>
          </ion-item >
          
         <ion-item>
            <ion-select placeholder="Select Gender" label="Gender" justify="start"  [disabled]="!isInEditMode">
                <ion-select-option *ngFor="let p of Gender_data" [value]="p.id">{{p.name}}</ion-select-option>
            </ion-select>
         </ion-item>

          <ion-item>
            <ion-label position="floating">Category</ion-label >
            <ion-input formControlName="category" type="text" aria-label="Category" [readonly]="!isInEditMode"></ion-input>
          </ion-item >
          
          <ion-item>
            <ion-label position="floating">Farm Code</ion-label >
            <ion-input formControlName="farm_Code" type="text" aria-label="Farm Code" [readonly]="!isInEditMode"></ion-input>
          </ion-item >

          <ion-item [button]="true" [detail]="false" id="select-villages">
            <ion-label>Village</ion-label>
            <div slot="end" id="selected-villages">{{ selectedVillagesText }}</div>
          </ion-item>
          <ion-modal trigger="select-villages" #modal>
            <ng-template>
              <app-typeheadsingle class="ion-page" title="Village" [items]="Village_Code_data" [selectedItems]="selectedVillage"
                (selectionChange)="VillageSelectionChanged($event)" (selectionCancel)="modal.dismiss()"
                (searchInput)="searchVillages($event)"></app-typeheadsingle>
            </ng-template>
          </ion-modal>

         <!-- <ion-item>
          <ion-label>Village</ion-label>
          <ion-select placeholder="Select Village" (ionChange)="villageChange($event)">
                <ion-select-option *ngFor="let p of Village_Code_data" [value]="p.id">{{p.name}}</ion-select-option>
            </ion-select>
         </ion-item> -->

         <ion-item>
            <!-- <ion-label>Mandal</ion-label> -->
            <ion-select  justify="start" label="Mandal" placeholder="Select Mandal" formControlName="mandal_Code" [disabled]="!isInEditMode">
                <ion-select-option *ngFor="let p of Mandal_Code_data" [value]="p.id">{{p.name}}</ion-select-option>
            </ion-select>
  </ion-item>

          <ion-item>
            <ion-label position="floating">Longitude</ion-label >
            <ion-input formControlName="longitude" type="text" aria-label="Longitude" [readonly]="!isInEditMode"></ion-input>
          </ion-item >
          
          <ion-item>
            <ion-label position="floating">Latitude</ion-label >
            <ion-input formControlName="latitude" type="text" aria-label="Latitude" [readonly]="!isInEditMode"></ion-input>
          </ion-item >
          
          <ion-item>
            <ion-label position="floating">No Of Kms</ion-label >
            <ion-input formControlName="no_Of_Kms" type="text" aria-label="No Of Kms" [readonly]="!isInEditMode"></ion-input>
          </ion-item >
          
          <ion-item>
            <ion-label position="floating">Transport Amt Per Ton</ion-label >
            <ion-input formControlName="transport_Amt_Per_Ton" type="text" aria-label="Transport Amt Per Ton" [readonly]="!isInEditMode"></ion-input>
          </ion-item >
          
          <ion-item>
            <ion-label position="floating">Survey No</ion-label >
            <ion-input formControlName="survey_No" type="text" aria-label="Survey No" [readonly]="!isInEditMode"></ion-input>
          </ion-item >
          
          <ion-item>
            <ion-label position="floating">Mobile Number1</ion-label >
            <ion-input formControlName="mobile_Number1" type="text" aria-label="Mobile Number1" [readonly]="!isInEditMode"></ion-input>
          </ion-item >
          
          <ion-item>
            <ion-label position="floating">Mobile Number2</ion-label >
            <ion-input formControlName="mobile_Number2" type="text" aria-label="Mobile Number2" [readonly]="!isInEditMode"></ion-input>
          </ion-item >
          
          <ion-item>
            <ion-label position="floating">Lease Code</ion-label >
            <ion-input formControlName="lease_Code" type="text" aria-label="Lease Code" [readonly]="!isInEditMode"></ion-input>
          </ion-item >
          
          <ion-item>
            <ion-label position="floating">Year</ion-label >
            <ion-input formControlName="year" type="text" aria-label="Year" [readonly]="!isInEditMode"></ion-input>
          </ion-item >
          
          <ion-item>
            <ion-label position="floating">Family Code</ion-label >
            <ion-input formControlName="family_Code" type="text" aria-label="Family Code" [readonly]="!isInEditMode"></ion-input>
          </ion-item >
          
          <ion-item>
            <ion-label position="floating">Scheme</ion-label >
            <ion-input formControlName="scheme" type="text" aria-label="Scheme" [readonly]="!isInEditMode"></ion-input>
          </ion-item >
          
          <ion-item>
            <ion-label position="floating">Area Type</ion-label >
            <ion-input formControlName="area_Type" type="text" aria-label="Area Type" [readonly]="!isInEditMode"></ion-input>
          </ion-item >
          
          <ion-item>
            <ion-label position="floating">Water Source</ion-label >
            <ion-input formControlName="water_Source" type="text" aria-label="Water Source" [readonly]="!isInEditMode"></ion-input>
          </ion-item >
          
          <ion-item>
            <ion-label position="floating">Variety</ion-label >
            <ion-input formControlName="variety" type="text" aria-label="Variety" [readonly]="!isInEditMode"></ion-input>
          </ion-item >
          
          <ion-item>
            <!-- <ion-label position="floating">Plantation Date</ion-label> -->
            <c-date formControlName="plantation_Date" formLabel="Plantation Date" datetime="datetime"  datetime="plantation_Date"></c-date>
          </ion-item >
          
          <ion-item>
            <!-- <ion-label position="floating">Invoice Date</ion-label> -->
            <c-date formControlName="invoice_Date" formLabel="Invoice Date" datetime="datetime"  datetime="invoice_Date"></c-date>
          </ion-item >
          
          <ion-item>
            <ion-label position="floating">Hectors</ion-label >
            <ion-input formControlName="hectors" type="text" aria-label="Hectors" [readonly]="!isInEditMode"></ion-input>
          </ion-item >
          
          <ion-item>
            <ion-label position="floating">No Of Plants</ion-label >
            <ion-input formControlName="no_Of_Plants" type="text" aria-label="No Of Plants" [readonly]="!isInEditMode"></ion-input>
          </ion-item >
          
          <ion-item>
            <ion-label position="floating">Total Cost Of Plants</ion-label >
            <ion-input formControlName="total_Cost_Of_Plants" type="text" aria-label="Total Cost Of Plants" [readonly]="!isInEditMode"></ion-input>
          </ion-item >
          
          <ion-item>
            <ion-label position="floating">Subsidy Allowed</ion-label >
            <ion-input formControlName="subsidy_Allowed" type="text" aria-label="Subsidy Allowed" [readonly]="!isInEditMode"></ion-input>
          </ion-item >
          
          <ion-item>
            <ion-label position="floating">Farmer Share</ion-label >
            <ion-input formControlName="farmer_Share" type="text" aria-label="Farmer Share"  [readonly]="!isInEditMode" [readonly]="!isInEditMode"></ion-input>
          </ion-item >
          
          <ion-item>
            <ion-label position="floating">Present Survival Hect</ion-label >
            <ion-input formControlName="present_Survival_Hect" type="text" aria-label="Present Survival Hect" [readonly]="!isInEditMode"></ion-input>
          </ion-item >
          
          <ion-item>
            <ion-label position="floating">Present Survival Plants</ion-label >
            <ion-input formControlName="present_Survival_Plants" type="text" aria-label="Present Survival Plants" [readonly]="!isInEditMode"></ion-input>
          </ion-item >
          
          <ion-item>
            <ion-label position="floating">Bank Name</ion-label >
            <ion-input formControlName="bank_Name" type="text" aria-label="Bank Name" [readonly]="!isInEditMode"></ion-input>
          </ion-item >
          
          <ion-item>
            <ion-label position="floating">Branch</ion-label >
            <ion-input formControlName="branch" type="text" aria-label="Branch" [readonly]="!isInEditMode"></ion-input>
          </ion-item >
          
          <ion-item>
            <ion-label position="floating">Account No</ion-label >
            <ion-input formControlName="account_No" type="text" aria-label="Account No" [readonly]="!isInEditMode"></ion-input>
          </ion-item >
          
          <ion-item>
            <ion-label position="floating">IFSC Code</ion-label >
            <ion-input formControlName="iFSC_Code" type="text" aria-label="IFSC Code" [readonly]="!isInEditMode"></ion-input>
          </ion-item >
          
          <ion-item>
            <ion-label position="floating">Aadhar No</ion-label >
            <ion-input formControlName="aadhar_No" type="text" aria-label="Aadhar No" [readonly]="!isInEditMode"></ion-input>
          </ion-item >
          
          <ion-item>
            <ion-label position="floating">Email</ion-label >
            <ion-input formControlName="email" type="text" aria-label="Email" [readonly]="!isInEditMode"></ion-input>
          </ion-item >
          
         <ion-item>
            <ion-select placeholder="Select Supervisor">
                <ion-select-option *ngFor="let p of Supervisor_Id_data" [value]="p.id">{{p.name}}</ion-select-option>
            </ion-select>
  </ion-item>

          <ion-item>
            <ion-label position="floating">Tally FarmerCode</ion-label >
            <ion-input formControlName="tally_FarmerCode" type="text" aria-label="Tally FarmerCode" [readonly]="!isInEditMode"></ion-input>
          </ion-item >
          
          <ion-item>
            <ion-label position="floating">East Contact Name</ion-label >
            <ion-input formControlName="east_Contact_Name" type="text" aria-label="East Contact Name" [readonly]="!isInEditMode"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">East Contact Number</ion-label >
            <ion-input formControlName="east_Contact_Number" type="text" aria-label="East Contact Number" [readonly]="!isInEditMode"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">West Contact Name</ion-label >
            <ion-input formControlName="west_Contact_Name" type="text" aria-label="West Contact Name" [readonly]="!isInEditMode"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">West Contact Number</ion-label >
            <ion-input formControlName="west_Contact_Number" type="text" aria-label="West Contact Number" [readonly]="!isInEditMode"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">North Contact Name</ion-label >
            <ion-input formControlName="north_Contact_Name" type="text" aria-label="North Contact Name" [readonly]="!isInEditMode"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">North Contact Number</ion-label >
            <ion-input formControlName="north_Contact_Number" type="text" aria-label="North Contact Number" [readonly]="!isInEditMode"></ion-input>
          </ion-item>

          <ion-item> 
            <ion-label position="floating">South Contact Name</ion-label >
            <ion-input formControlName="south_Contact_Name" type="text" aria-label="South Contact Name" [readonly]="!isInEditMode"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">South Contact Number</ion-label >
            <ion-input formControlName="south_Contact_Number" type="text" aria-label="South Contact Number" [readonly]="!isInEditMode"></ion-input>
          </ion-item>
          
          <ion-item class="input-group">
            <ion-label position="floating">Farmer Photo</ion-label><br>
            <input type="file" aria-label="Farmer Photo" (change)="fileChange($event, 'farmer_Photo_Id')" 
            placeholder="Upload file" [disabled]="!isInEditMode" [value]="farmerPhotoIdInput"/>
            <img class="form-image" [src]=farmerPhotoId>
            <ion-button (click)="uploadImage('farmer_Photo_Id')" [disabled]="!isInEditMode">Upload</ion-button>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Land Photo</ion-label><br>
            <input type="file" aria-label="Land Photo" (change)="fileChange($event, 'land_Photo_Id')" placeholder="Upload file" [disabled]="!isInEditMode"/>
            <img class="form-image" [src]=landPhotoId>
            <ion-button (click)="uploadImage('land_Photo_Id')" [disabled]="!isInEditMode">Upload</ion-button>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Bank Name</ion-label><br>
            <input type="file" aria-label="Bank Name" (change)="fileChange($event, 'bank_Name')" placeholder="Upload file" [disabled]="!isInEditMode"/>
            <img class="form-image" [src]=bankName>
            <ion-button (click)="uploadImage('bank_Name')" [disabled]="!isInEditMode">Upload</ion-button>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Aadhar No</ion-label><br>
            <input type="file" aria-label="Aadhar No" (change)="fileChange($event, 'aadhar_No')" placeholder="Upload file" [disabled]="!isInEditMode" />
            <img class="form-image" [src]=aadharNo>
            <ion-button (click)="uploadImage('aadhar_No')" [disabled]="!isInEditMode">Upload</ion-button>
          </ion-item>

          <ion-item>
            <ion-toggle class="ion-toggle" color="primary" justify="start"
            [enableOnOffLabels]="true" formControlName="isActive" type="text" 
            aria-label="IsActive" [readonly]="!isInEditMode">
              <ion-label>IsActive</ion-label >
            </ion-toggle>
          </ion-item >
          

       <ion-item *ngIf="isInEditMode">
            <ion-button type="submit" color="primary" expand="block" (click)="submitForm()">Save</ion-button>
            <ion-button type="ion-button" color="danger" expand="block" (click)="cancelForm()">Cancel</ion-button>
          </ion-item>
  

    </form>
      </ion-list>
    </swiper-slide>
  </swiper-container>
</ion-content>

  