<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Farmers
    </ion-title>
    <ion-buttons collapse="true" slot="end">
      <ion-button *ngIf="allowToAdd" [routerLink]="'/farm/add-farmers'">
        <ion-icon slot="icon-only" name="add-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <ion-header collapse="condense" class="ion-no-border">
    <ion-toolbar>
      <ion-title size="large">Farmers</ion-title>
      <ion-buttons collapse="true" slot="end">
        <ion-button color="primary" [routerLink]="'/farm/add-farmers'">
          <ion-icon slot="icon-only" name="add-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-list>
    <ion-toolbar>
      <ion-grid>
        <app-search (search)="searchFarmers($event)"></app-search>
        </ion-grid>
    </ion-toolbar>
  </ion-list>
    <ion-loading class="custom-loading" trigger="open-loading" message="Loading..." 
  [isOpen]=isLoading></ion-loading>
    <table class="table">
        <tr>
      <td><ion-label> Farmer Code </ion-label></td>
	  <td><ion-label> Last Name </ion-label></td>
	  <td><ion-label> Father Name </ion-label></td>
	  <td><ion-label> IsActive </ion-label></td>
	  
     
    <tr *ngFor="let Farmers of farmersList">
      <td><ion-label>{{ Farmers['Farmer_Code'] }}</ion-label></td>
	  <td><ion-label>{{ Farmers['Last_Name'] }}</ion-label></td>
	  <td><ion-label>{{ Farmers['Father_Name'] }}</ion-label></td>
	  <td><ion-label>{{ Farmers['IsActive'] }}</ion-label></td>
	  
      <td>
	
      <ion-badge *ngIf="allowToEdit" color="primary" class="activity"><ion-icon name="eye" aria-hidden="true" title="View" class="badge"
        [routerLink]="'/farm/farmers-details/' + Farmers['Id']"></ion-icon></ion-badge>
       <ion-badge *ngIf="allowToDelete" id="present-alert" color="danger" class="activity" (click)="setRecordId(Farmers['Id'])">
          <ion-icon name="trash" aria-hidden="true" title="Delete" class="badge"></ion-icon>
        </ion-badge>

      </td>
    </tr>
   </table>
<ion-alert
trigger="present-alert"
class="custom-alert"
header="Delete Record"
message="Are you sure to delete the record ?"
[buttons]="alertButtons"
(didDismiss)="deleteRecord($event)">
</ion-alert>
</ion-content>
  