<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Employee Types
    </ion-title>
    <ion-buttons collapse="true" slot="end">
      <ion-button *ngIf="allowToAdd" [routerLink]="'/farm/add-employee_types'">
        <ion-icon slot="icon-only" name="add-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <ion-header collapse="condense" class="ion-no-border">
    <ion-toolbar>
      <ion-title size="large">Employee Types</ion-title>
      <ion-buttons collapse="true" slot="end">
        <ion-button color="primary" [routerLink]="'/farm/add-employee_types'">
          <ion-icon slot="icon-only" name="add-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-list>
    <ion-toolbar>
      <ion-grid>
        <app-search (search)="searchEmployee_Types($event)"></app-search>
        </ion-grid>
    </ion-toolbar>
  </ion-list>
    <ion-loading class="custom-loading" trigger="open-loading" message="Loading..." 
  [isOpen]=isLoading></ion-loading>
    <table class="table">
        <tr>
      <td><ion-label> Name </ion-label></td>
	  <td><ion-label> Description </ion-label></td>
	  <td><ion-label> IsActive </ion-label></td>
	  
     
    <tr *ngFor="let Employee_Types of employee_typesList">
      <td><ion-label>{{ Employee_Types['Name'] }}</ion-label></td>
	  <td><ion-label>{{ Employee_Types['Description'] }}</ion-label></td>
	  <td><ion-label>{{ Employee_Types['IsActive'] }}</ion-label></td>
	  
      <td>
	
      <ion-badge *ngIf="allowToEdit" color="primary" class="activity"><ion-icon name="eye" aria-hidden="true" title="View" class="badge"
        [routerLink]="'/farm/employee_types-details/' + Employee_Types['Id']"></ion-icon></ion-badge>
       <ion-badge *ngIf="allowToDelete" id="present-alert" color="danger" class="activity" (click)="setRecordId(Employee_Types['Id'])">
          <ion-icon name="trash" aria-hidden="true" title="Delete" class="badge"></ion-icon>
        </ion-badge>

      </td>
    </tr>
   </table>
<ion-alert
trigger="present-alert"
class="custom-alert"
header="Delete Record"
message="Are you sure to delete the record ?"
[buttons]="alertButtons"
(didDismiss)="deleteRecord($event)">
</ion-alert>
</ion-content>
  